@import '~@webkom/lego-bricks/dist/style.css';

._legoEditor_imageUploader_dropZone {
  display: flex;
  width: 325px;
  min-width: 70%;
  height: 200.861px;
  min-height: 60%;
  outline: none;
}

._legoEditor_imageUploader_dropArea {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px dashed var(--color-blue-6);
  border-radius: var(--border-radius-lg);
  margin: 0 auto;
  color: var(--secondary-font-color);
  padding: 1.2rem;
  background-color: var(--additive-background);
  text-align: center;
}

._legoEditor_imageUploader_dropZone_focused
  ._legoEditor_imageUploader_dropArea {
  border-color: var(--color-orange-6);
}

._legoEditor_imageUploader_dropZone_dragAccept
  ._legoEditor_imageUploader_dropArea {
  border-color: var(--color-green-6);
}

._legoEditor_imageUploader_dropZone_dragReject
  ._legoEditor_imageUploader_dropArea {
  border-color: var(--danger-color);
}

._legoEditor_imageUploader_crop_wrapper {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 300px;
}

._legoEditor_imageUploader_crop_container {
  margin: 5px;
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAJ0lEQVQoU2PcvXv3fwY0cPbsWXQhBsahoLCjowPDM8bGxpieGQIKAezGK+59+t2AAAAAAElFTkSuQmCC)
    repeat;
}
