@import '../variables.css';

._legoEditor_imageUploader_dropZone {
  width: 80%;
  height: 100%;
  border: 2px dashed rgba(var(--rgb-min), var(--rgb-min), var(--rgb-min), 0.2);
  border-radius: 4px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--secondary-font-color);
  flex: 1 1 auto;
}

._legoEditor_imageUploader_crop_wrapper {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 400px;
}

._legoEditor_imageUploader_crop_container {
  margin: 5px;
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAJ0lEQVQoU2PcvXv3fwY0cPbsWXQhBsahoLCjowPDM8bGxpieGQIKAezGK+59+t2AAAAAAElFTkSuQmCC)
    repeat;
}
