@import '~@webkom/lego-bricks/dist/style.css';

._legoEditor_linkInput_label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: right;
  margin: 10px 0;
}

._legoEditor_linkInput_label span {
  flex: 0 1 auto;
  min-width: 200px;
  text-align: start;
}
