._legoEditor_Toolbar_root {
  border-bottom: 1px solid #ddd;
  padding-left: 10px;
  position: sticky;
  top: 0px;
  background-color: #fff;
}

._legoEditor_Toolbar_button {
  border-radius: 2px;
  border: none;
  background-color: #fff;
  cursor: pointer;
  margin: 2px;
  height: 30px;
  width: 30px;
}

._legoEditor_Toolbar_button:hover {
  background-color: #eee;
}

._legoEditor_Toolbar_active {
  background-color: #eee;
}

._legoEditor_Toolbar_linkInput {
  position: absolute;
  top: 30px;
  left: 40%;
  border: 1px solid #ddd;
  border-radius: 2px;
  background-color: #fefefe;
  padding: 15px;
}

._legoEditor_Toolbar_linkInput input {
  border: 1px solid #cdcdcd;
  border-radius: 4px;
  height: 30px;
  padding: 5px;
}

._legoEditor_Toolbar_linkInput input:focus {
  outline: none;
  box-shadow: 2px 2px 1px #efefef;
}

._legoEditor_Toolbar_linkInput button {
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  background-color: #fafafa;
  padding: 6px;
  margin-left: 5px;
}

._legoEditor_Toolbar_linkInput button:hover {
  background-color: #fefefe;
  border-color: #c1c1c1;
}
