@import '~@webkom/lego-bricks/dist/style.css';

._legoEditor_Toolbar_root {
  z-index: 2;
  margin: 0 -10px;
  padding-left: 10px;
  background-color: var(--additive-background);
}

._legoEditor_Toolbar_button {
  border-radius: var(--border-radius-sm);
  background-color: transparent;
  border: none;
  color: var(--lego-font-color);
  cursor: pointer;
  margin: 2px;
  height: 30px;
  width: 30px;
}

._legoEditor_Toolbar_button:hover {
  background-color: var(--color-gray-3);
  transition: background-color var(--easing-blazingly-fast);
}

._legoEditor_Toolbar_active {
  background-color: var(--color-gray-3);
}
