@import './variables.css';

._legoEditor_root {
  border: 1px solid var(--color-dark-mono-gray-3);
  border-radius: 3px;
  padding: 10px;
  background-color: var(--color-white);
  color: var(--color-black);
}

._legoEditor_root:focus-within {
  box-shadow: 0 0 5px var(--color-dark-mono-gray-3);
  border-color: var(--color-mono-gray-1);
  outline: none;
}

._legoEditor_disabled {
  border: none;
}

._legoEditor_root a {
  cursor: text;
}

._legoEditor_disabled code,
._legoEditor_root code {
  background-color: var(--color-gray-light);
  padding: 2px 3px;
  border-radius: 2px;
  font-family: sans-serif;
}

._legoEditor_disabled pre,
._legoEditor_root pre {
  background-color: var(--color-almost-white-2);
  border-radius: 2px;
  padding: 15px;
  margin: 10px 0;
  overflow: scroll;
}

._legoEditor_disabled blockquote,
._legoEditor_root blockquote {
  background: var(-color-almost-white-1);
  color: var(--text-color-block-quote);
  border-left: 10px solid var(--color-dark-mono-gray-3);
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}

._legoEditor_ul_list {
  display: block;
  list-style: disc;
  padding-inline-start: 20px;
  padding-left: 20px;
}

._legoEditor_ol_list {
  display: block;
  list-style: decimal;
  padding-inline-start: 20px;
  padding-left: 20px;
}

._legoEditor_li {
  display: list-item;
  margin-block-start: 1em;
  margin-block-end: 1em;
}

._legoEditor_ul_list > ul {
  list-style: circle;
}

._legoEditor_ul_list > ul > ul {
  list-style: square;
}

._legoEditor_ol_list > ol {
  list-style: lower-alpha;
}

._legoEditor_ol_list > ol > ol {
  list-style: lower-roman;
}

._legoEditor_li > p {
  margin-block-start: 0;
  margin-block-end: 0;
}

._legoEditor_paragraph {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  line-height: 24px;
  word-break: break-word;
}

._legoEditor_figure {
  padding: 20px 10px 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

._legoEditor_figcaption {
  text-align: center;
  font-size: 14px;
}

._legoEditor_img {
  min-width: 50px;
  min-height: 50px;
  border: none;
}

._legoEditor_imgSelected {
  border: 2px solid var(--color-dark-mono-gray-3);
  box-shadow: 0 0 8px var(--color-dark-mono-gray-3);
}

._legoEditor_modal {
  background: none;
  border: none;
}

._legoEditor_modal_wrapper {
  z-index: 15;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

._legoEditor_modal_root {
  opacity: 1;
  background-color: var(--color-white);
  width: 60%;
  top: 10%;
  left: 20%;
  margin: 0 30px;
  padding: 15px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

._legoEditor_modal_buttonContainer {
  display: flex;
  justify-content: space-evenly;
  margin: 30px;
  flex: 0 1 auto;
}

._legoEditor_modal_button {
  border-radius: 4px;
  background-color: var(--color-white);
  padding: 9px 18px;
  cursor: pointer;
  font-family: inherit;
  background: none;
  border: 0;
  box-sizing: border-box;
  box-shadow: inset 0 0 0 1px var(--color-box-shadow);
  position: relative;
  vertical-align: middle;
  color: var(--color-black);
}

._legoEditor_modal_button::before,
._legoEditor_modal_button::after {
  box-sizing: inherit;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
}

._legoEditor_modal_button:hover {
  transition: color 0.2s;
}

._legoEditor_modal_button::before,
._legoEditor_modal_button::after {
  border: 2px solid transparent;
  border-radius: 4px;
  width: 0;
  height: 0;
}

._legoEditor_modal_button::before,
._legoEditor_modal_button::after {
  top: 0;
  left: 0;
}

._legoEditor_modal_applyButton:hover {
  color: var(--color-green-1);
}

._legoEditor_modal_cancelButton:hover {
  color: var(--lego-red-color);
}

._legoEditor_modal_button:hover::before,
._legoEditor_modal_button:hover::after {
  width: 100%;
  height: 100%;
}

._legoEditor_modal_applyButton:hover::before {
  border-top-color: var(--color-green-1);
  border-right-color: var(--color-green-1);
  transition: height 0.2s ease-out 0.2s, width 0.2s ease-out;
}

._legoEditor_modal_cancelButton:hover::before {
  border-top-color: var(--lego-red-color);
  border-right-color: var(--lego-red-color);
  transition: width 0.2s ease-out, height 0.2s ease-out 0.2s;
}

._legoEditor_modal_applyButton:hover::after {
  border-bottom-color: var(--color-green-1);
  border-left-color: var(--color-green-1);
  transition: height 0.2s ease-out, width 0.2s ease-out 0.2s;
}

._legoEditor_modal_cancelButton:hover::after {
  border-bottom-color: var(--lego-red-color);
  border-left-color: var(--lego-red-color);
  transition: height 0.2s ease-out, width 0.2s ease-out 0.2s;
}

._legoEditor_modal_button:disabled {
  border: none;
  cursor: inherit;
  color: rgba(var(--rgb-min), var(--rgb-min), var(--rgb-min), 0.3);
}

._legoEditor_modal_button:disabled::before,
._legoEditor_modal_button:disabled::after {
  width: none;
  border: none;
}
