:root {
  --lego-background-color: #f8f9fa;
  --lego-card-color: #fff;

  --lego-font-color: var(--color-gray-9);
  --inverted-font-color: var(--color-gray-1);
  --secondary-font-color: #606060;

  --color-white: #fff;
  --color-black: #181818;

  --lego-red-color: #e21617;

  --border-gray: var(--color-gray-2);

  --rgb-max: 255;
  --rgb-min: 0;

  --additive-background: rgba(0, 0, 0, 5%);

  --danger-color: #c81917;

  --color-gray-1: #f2f2f2;
  --color-gray-2: #e7e7e7;
  --color-gray-3: #d9d9d9;
  --color-gray-4: #b6b6b6;
  --color-gray-5: #8c8c8c;
  --color-gray-6: #757575;
  --color-gray-7: #595959;
  --color-gray-8: #373737;
  --color-gray-9: #0d0d0d;

  --color-blue: #0072f5;

  --color-orange: #f5a524;

  --color-green: #17c964;

  --font-size-xs: 0.7rem;
  --font-size-sm: 0.875rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.875rem;

  --border-radius-sm: 0.3rem;
  --border-radius-md: 0.5rem;
  --border-radius-lg: 1rem;

  --easing: cubic-bezier(0.35, 0, 0.65, 1);
  --easing-blazingly-fast: 30ms var(--easing);
  --easing-fast: 100ms var(--easing);
  --easing-medium: 200ms var(--easing);
  --easing-slow: 400ms var(--easing);

  --shadow-xs: 0 2px 8px 1px rgba(104, 112, 118, 7%),
    0 1px 1px -1px rgba(104, 112, 118, 4%);
  --shadow-sm: 0 2px 8px 2px rgba(104, 112, 118, 7%),
    0 2px 4px -1px rgba(104, 112, 118, 4%);
  --shadow-md: 0 12px 20px 6px rgba(104, 112, 118, 8%);
  --shadow-lg: 0 12px 34px 6px rgba(104, 112, 118, 18%);
}

[data-theme='dark'] {
  --lego-background-color: #0d0d0d;
  --lego-card-color: #222;

  --lego-font-color: var(--color-gray-9);
  --inverted-font-color: var(--color-gray-1);
  --secondary-font-color: #aaa;

  --color-white: #181818;
  --color-black: #fff;

  --border-gray: var(--color-gray-2);

  --rgb-max: 0;
  --rgb-min: 255;

  --additive-background: rgba(255, 255, 255, 10%);

  --color-gray-1: #0d0d0d;
  --color-gray-2: #373737;
  --color-gray-3: #595959;
  --color-gray-4: #757575;
  --color-gray-5: #8c8c8c;
  --color-gray-6: #b6b6b6;
  --color-gray-7: #d9d9d9;
  --color-gray-8: #e7e7e7;
  --color-gray-9: #f2f2f2;

  --color-green: #17c964;
}
