:root {
  --color-white: #fff;
  --color-box-shadow: #c7c7c7;
  --lego-red-color: #c0392b;
  --color-green-1: #0a6640;
  --color-almost-white-1: #f9f9f9;
  --color-almost-white-2: #efefef;
  --color-almost-white-3: #fafafa;
  --color-almost-grey: #c1c1c1;
  --color-mono-gray-1: #aaa;
  --color-dark-mono-gray-3: #ccc;
  --color-mono-gray-4: #ddd;
  --color-mono-gray-5: #eee;
  --text-color-block-quote: #565d64;
  --color-black: #000;
  --color-link-input-button: #fefefe;
  --color-link-input-border: #cdcdcd;
  --color-background: #f5f4f4;

  --rgb-max: 255;
  --rgb-min: 0;
}

[data-theme='dark'] {
  --color-white: #000;
  --color-box-shadow: #c7c7c7;
  --lego-red-color: #c0392b;
  --color-green-1: #0a6640;
  --color-almost-white-1: #060606;
  --color-almost-white-2: #1a1a1a;
  --color-almost-white-3: #040404;
  --color-almost-grey: #3e3e3e;
  --color-mono-gray-1: #555;
  --color-dark-mono-gray-3: #ccc;
  --color-mono-gray-4: #ddd;
  --color-mono-gray-5: #222;
  --text-color-block-quote: #565d64;
  --color-black: #fff;
  --color-link-input-button: #010101;
  --color-link-input-border: #323232;
  --color-background: #10161a;

  --rgb-max: 0;
  --rgb-min: 255;
}

/*
  background-color: #252525;
  color: #f4f4f4;
*/
